{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
   {% if category %}
       {{ category.description|truncatewords:155 }}
   {% else %}
       Welcome to CAMEL store where you can buys different items...
   {% endif %}
{% endblock %}
{% block title %}
{% if category %}
        {{ category.name }} -CAMEL store
    {% else %}
        See our new collections - CAMEL store
    {% endif %}
{% endblock %}

{% block content %}
{% if category %}

<div>
    <div class="row my_row_class">
                <div class="mx-auto">
                    <p><a href="{% url 'shop:allProdCat' %}">Our Product Collections</a></p>
    </div>
</div>
    </div>
  {% endif %}
<div class="mx_auto">
    {% if category %}
        <img class="my_image" src="{{category.image.url}}" alt="{{category.name}}" style="width:150px; height:50px;">
</div>
    <br>
<div>
    <h1 class="text-center my_title">{{category.name}}</h1>
    <p class="text-justify">{{category.description}}</p>
</div>
    {% else %}
<div>
<img class="my_image my_image_padding" src="{% static 'img/banner.jpg' %}" alt="Our Products" style="width:1250px; height:400px;">
</div>
<br>
<div>
    <h1 class="text-center my_title">Our Products collections</h1>
    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia augue eget tempor malesuada. Nam consectetur purus massa, in egestas mauris sagittis in. Integer eget finibus felis, sit amet rhoncus dui. Mauris vestibulum lacus at finibus sodales. Praesent quam nulla, cursus semper felis in, malesuada venenatis enim. Aenean nulla lectus, eleifend posuere dignissim nec, sollicitudin eget erat. Quisque sed nibh risus. Etiam dignissim est non vehicula tristique. Curabitur lacinia posuere leo, pretium venenatis lectus ultricies vitae. Nullam nec massa et felis varius accumsan eget vel nulla. Maecenas ac euismod ipsum, eget dictum est.</p>
</div>
{% endif %}
<div class="container">
    <div class="row mx_auto">
        {% for product in products.object_list %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
            <div class="card text-center">
                <a href="{{product.get_url}}"><img class="card-img-top my-image" src="{{product.image.url}}" alt="{{product.name}}" style="width:200px; height:200px;"></a>
                <div class="card-body">
                    <h4>{{product.name}}</h4>
                    <p>{{product.price}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}
        <br>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
            <a href="?page={{pg}}" class="btn btn-light btn=sm {% if products.number == pg %} active{% endif %}">{{pg}}</a>
       {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>
</div>

{% endblock %}